.background_image{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1440px;
    background-color: #94aeae;
    background-color: hsl(180, 8%, 52%);
}
